
.nosotros-container {
    font-family: 'Lato', sans-serif;
    
    background: url("imagenes/fondo2b.jpg") center/cover fixed no-repeat;
    color: #4E342E;
    line-height: 1.6;
    padding-bottom: 50px; 
}


.registro-header {
    text-align: center;
    margin: 30px 0;
}

#logo2 {
    display: block;
    margin: 0 auto 15px auto;
    max-width: 180px;
}

.registro-header h1 { 
    text-align: center;
    display: block;
    margin: 0 auto;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: #8B4513;
}


.card {
    max-width: 800px; 
    margin: 30px auto; 
    padding: 25px;
    background: #fff; 
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(0,0,0,.1);
    transition: .3s;
}

.card:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 10px 25px rgba(0,0,0,.15); 
}

.card h3 {
    margin-top: 20px; 
    color: #8D6E63; 
    font-weight: bold;
    border-left: 5px solid #FFD180; 
    padding-left: 10px;
    text-transform: uppercase; 
    font-size: 18px;
}


.imagenes-nosotros {
    max-width: 900px; 
    margin: 40px auto;
    display: flex; 
    gap: 25px; 
    flex-wrap: wrap; 
    justify-content: center;
}

.imagenes-nosotros img {
    width: 45%; 
    max-width: 350px; 
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,.2);
    transition: .4s;
}

.imagenes-nosotros img:hover { 
    transform: scale(1.08); 
    box-shadow: 0 12px 28px rgba(0,0,0,.25); 
}