
#pagina-carrito {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #fefbf6; /* Fondo muy claro */
    display: flex;
    flex-direction: column;
}


#contenedor-carrito { 
    margin: 30px auto 50px auto; 
    max-width: 900px; 
    padding: 0 20px; 
}


#productos-carrito {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    margin-bottom: 30px;
}


.item-carrito {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #ddd; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.item-carrito h5 { 
    font-size: 18px; 
    font-weight: bold; 
    margin: 0; 
}

.item-carrito button {
    background-color: #ff4d4d; 
    color: #000000; 
    border: none; 
    padding: 8px 15px; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.item-carrito button:hover { 
    background-color: #e60000; 
}


#resumen-carrito {
    background-color: #fff; 
    border-radius: 8px; 
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    margin-top: 20px; 
    border: 1px solid #ddd;
}


#total-carrito { 
    font-size: 24px; 
    font-weight: bold; 
    color: #333; 
}


#boton-pago {
    background-color: #28a745; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer; 
    width: 100%;
    margin-top: 15px;
    transition: background-color 0.3s;
}

#boton-pago:hover { 
    background-color: #218838; 
}


#titulo-carrito { 
    font-size: 36px; 
    color: #333; 
    margin-bottom: 30px;
    text-align: center;
}


.carrito-vacio-mensaje {
    text-align: center;
    font-size: 18px;
    color: #5D4037;
    padding: 50px 0;
}